---
import Layout from "../../layouts/Page.astro";
import TopicList from "../../components/TopicList.astro";
---

<Layout
  title="Topics"
  description="Una visión de todos los temas a tratar en el blog."
>
  <h1>Todos los temas del blog</h1>
  <TopicList topics="all" />
</Layout>
