---
import Layout from "../layouts/Page.astro";
import { CONSTANTS } from "../consts";
import LatestPosts from "../components/LatestPosts.astro";
import { Image } from "astro:assets";
import heroImage from "../../public/placeholder-social.jpg";

const { SITE_TITLE, SITE_DESCRIPTION } = CONSTANTS
---

<Layout title={ SITE_TITLE } description={ SITE_DESCRIPTION }>
  <Image
    class="rounded-2xl"
    width={668}
    height={310}
    src={heroImage}
    alt="Telecom Blog"
  />
  <p class="text-justify">
    ¡Explora el fascinante mundo de las telecomunicaciones con TelecomBlog! Un blog diseñado
    para mantenerte actualizado sobre las últimas tendencias, noticias y avances en el emocionante campo 
    de las telecomunicaciones. Ya sea que seas un profesional de la industria, un entusiasta tecnológico 
    o simplemente estés interesado en cómo las telecomunicaciones están transformando el mundo, aquí 
    encontrarás todos los artículos que necesitas.
  </p>
  <LatestPosts />
</Layout>
