---
const H: any = `h${Astro.props.headingLevel}`;

type Props = {
  headingLevel: 1 | 2 | 3 | 4 | 5 | 6;
  class?: string;
};
---

<H class={Astro.props.class} style="width: 100% !important;">
  <p style="text-align: center !important;">
    <slot />
  </p>
</H>
