---
import type { CollectionEntry } from "astro:content";
import Post from "./Post.astro";

type Props = {
  posts: CollectionEntry<"blog">[];
};

const { posts } = Astro.props;
---

<ul class="border-2 rounded-2xl p-8 border-slate-800">
  {
    posts.map((post) => {
      return (
        <li class="flex flex-col gap-2">
          <Post post={post} />
        </li>
      );
    })
  }
</ul>
